*, *::before, *::after{
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    background: lightgoldenrodyellow;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.5rem;
    padding: 2.5rem;
}

h1{
    font-size: 3rem;
    text-align: center;
    text-transform: capitalize;
    font-weight: 400;
}

@media screen and (min-width: 768px) {
    body{
        font-size: 2rem;
    }

    h1{
        font-size: 4rem;
    }
}

textarea{
    width: 100%;
}

.container{
    border-radius: 30px;
    background: #fff;
    padding: 2rem 0.5rem;
    width: 100%;
}

.header{
    padding: 2.5rem 1.5rem;
}

.form{
    border: 1px solid #ccc;
    margin: 0 auto;
    width: 70%;
    padding: 2rem;
    position: relative;
    margin-bottom: 2rem;
}

.form_group{
    margin-bottom: 3rem;
}

.checkbox{
    margin-bottom: 1rem;
}

.dropdown_list{
    margin-bottom: 2rem;
}

.p_details{
    background: #fff;
    position: absolute;
    top: -13px;
}

.button{
    text-align: center;
}
